
body, html {
    height: 100%;
    margin: 0;
}

a {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.home-img {
    background-image: url("../img/home.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: #10141980;
}