
body, html {
    height: 100%;
    margin: 0;
}

a {
    color: #fd9014 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-decoration: underline;
}
  
.home-img {
    background-image: url("../img/home.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-background {
    background-image: url("../img/background-about.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-home {
    background-color: #10141980;
}

.card-about {
    background-color: #101419e0;
}

.about-img {
    width: 405px;
    height: 305px;
    padding: 22px;
}

.font-title {
    font-family: 'Lobster', cursive;
}

.bg-danger {
    background-color: #AF1D1E !important;
}